*.o
*.elf
*.bin
*.map

oxideOS.iso
iso/boot/oxideOS.bin

iso/boot/limine/limine-bios.sys
iso/boot/limine/limine-bios-cd.bin
iso/boot/limine/limine-uefi-cd.bin
iso/EFI/
external/limine/.iso-files-copied

*.sock
qemu.log

*~
*.swp
*.swo
.DS_Store
.vscode/
.idea/
compile_commands.json

